
.im{
    background-image: url(/SRC/Captura\ de\ pantalla\ 2023-05-09\ 143235.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    background-color: #5cbd01;
    padding: 15px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 157, 255, 0.952);
}
#sech{
    display: flex;
}
.imgh{
    height: 70px;
    width: 70px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 157, 255, 0.952);